div{
    display: flex;
    flex-direction: column;
}

h1{
    font-family: Arial, Helvetica, sans-serif;
}

input{
    height: 30px;
}

label{
    padding-top: 15px;
    padding-right: 10px;
    font-family: Arial, Helvetica, sans-serif;
}

button{
    background-color: dodgerblue;
    border-color: dodgerblue;
    border-radius: 5px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    color: white;
    height: 35px;
    width: 80px;
}

#reservar{
    background-color: dodgerblue;
    border-color: dodgerblue;
    border-radius: 5px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    color: white;
    height: 50px;
    width: 150px;
}

.infocliente{
    display: flex;
    flex-direction: row;
    padding-bottom: 30px;
}

.datas{
    display: flex;
    flex-direction: row;
}

.campo{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    font-weight: bolder;
}

.texto-erro{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    color: darkred;
}

table{
    text-align: center;
    font-family:Arial, Helvetica, sans-serif;
    border: 1px solid;
    border-color:thistle;
    padding: 5px;
}

thead{
    background-color: dodgerblue;
    color: white;
    font-size: 20px;
    padding: 10px
}